<footer class="footer footer-design">
    <div class="content has-text-centered">
        <p class="footer-text">
            Copyright &copy;
            <span id="copyright">
                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
            </span> <br> 
        </p>
        <div class="sm-icons">
            <a href="https://www.linkedin.com/in/thomasrenee/" target=”_blank”>
                <i class="icon-padding fa fa-brands fa-linkedin"></i>
            </a>
            <a href="https://x.com/thom_ren?s=21&t=VqUic9WyxfWYxQ3fOxRDeg" target=”_blank”>
                <i class="icon-padding fa fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.researchgate.net/profile/Renee-Thomas-3" target=”_blank”>
                <i class="icon-padding fa fa-brands fa-researchgate"></i>
            </a>
            <a href="https://github.com/RenThom" target=”_blank”>
                <i class="icon-padding fa fa-brands fa-github"></i>
            </a>
            <a href="mailto:reneetjthom@gmail.com" target=”_blank”>
                <i class="icon-padding fa-solid fa-envelope"></i>
            </a>
            <a href=/assets/RTVBusinessCard target=”_blank”>
                <i class="icon-padding fa-solid fa-address-card"></i>
            </a>
        </div>
        <p class="footer-text footer-build">
        Proudly Designed and Built by Renee Thomas-Venugopal
        </p>
    </div>
</footer>