<nav class="navbar is-fixed-top nav-design" role="navigation" aria-label="main navigation">
    <div class="navbar-brand nav-home">
      <a class="navbar-item nav-item-style nav-title" href="{{site.baseurl}}/">
        Renee Thomas-Venugopal
      </a>
        
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end navbar-right">
          <a class="navbar-item nav-item-style" href="{{site.baseurl}}/education">
            Education
          </a>
          <a class="navbar-item nav-item-style" href="{{site.baseurl}}/research">
            Research
          </a>
          <a class="navbar-item nav-item-style" href="{{site.baseurl}}/experience">
            Experience
          </a>
          <!-- <a class="navbar-item nav-item-style" href="/service">
            Service
          </a> -->
          <!-- <a class="navbar-item nav-item-style" href="/blog">
              Blog
          </a> -->
          <a class="navbar-item nav-item-style cv-button" target="_blank" href="{{site.baseurl}}/assets/documents/RThomas-CV.pdf">
            CV
          </a>
        </div>
    </div>
</nav>